# Get prices

In [1]:
import pandas as pd
import numpy as np
import yfinance as yf

In [2]:
yf.__version__

'0.2.54'

## 1. Tesla

In [19]:
start = '2019-10-01'
end = '2024-09-27'

ticker = 'TSLA'

ticker = yf.Ticker(ticker)
prices = ticker.history(start=start, end=end)

len(prices)

1256

In [21]:
prices['returns'] = prices['Close'].pct_change()
prices['log_returns'] = np.log(prices['Close']/prices['Close'].shift(1))
prices = prices.drop(columns=['Dividends', 'Stock Splits'])

prices

,Open,High,Low,Close,Volume,returns,log_returns
Date,,,,,,,
2019-10-01 00:00:00-04:00,16.100000,16.396667,15.942000,16.312668,92439000,NaN,NaN
2019-10-02 00:00:00-04:00,16.219334,16.309999,15.962000,16.208668,84471000,-0.006375,-0.006396
2019-10-03 00:00:00-04:00,15.457333,15.632000,14.952000,15.535333,226267500,-0.041542,-0.042429
2019-10-04 00:00:00-04:00,15.440667,15.652000,15.204667,15.428667,119925000,-0.006866,-0.006890
2019-10-07 00:00:00-04:00,15.320000,15.904000,15.236667,15.848000,120963000,0.027179,0.026816
...,...,...,...,...,...,...,...
2024-09-20 00:00:00-04:00,241.520004,243.990005,235.919998,238.250000,99879100,-0.023245,-0.023520
2024-09-23 00:00:00-04:00,242.610001,250.000000,241.919998,250.000000,86927200,0.049318,0.048140
2024-09-24 00:00:00-04:00,254.080002,257.190002,249.050003,254.270004,88491000,0.017080,0.016936
2024-09-25 00:00:00-04:00,252.539993,257.049988,252.279999,257.019989,65034300,0.010815,0.010757
2024-09-26 00:00:00-04:00,260.600006,261.750000,251.529999,254.220001,67142200,-0.010894,-0.010954

In [ ]:
file_name = '../data/Tesla/tesla_prices.csv'
prices.to_csv(file_name)

## 1. S&P

In [26]:
start = '2019-09-30'
end = '2024-09-27'

ticker = 'SPY'

ticker = yf.Ticker(ticker)
prices = ticker.history(start=start, end=end)

len(prices)

1257

In [ ]:
prices['returns'] = prices['Close'].pct_change()
prices['log_returns'] = np.log(prices['Close']/prices['Close'].shift(1))
prices = prices.drop(columns=['Dividends', 'Stock Splits', 'Capital Gains'])

prices

,Date,Open,High,Low,Close,Volume,returns,log_returns
0,2019-09-30 00:00:00-04:00,273.977565,275.440149,273.931292,274.718109,51662400,NaN,NaN
1,2019-10-01 00:00:00-04:00,275.616000,276.282500,271.228221,271.450378,88242400,-0.011895,-0.011966
2,2019-10-02 00:00:00-04:00,269.839692,269.848958,265.340835,266.655304,122539500,-0.017665,-0.017823
3,2019-10-03 00:00:00-04:00,266.423921,268.867766,263.656106,268.839996,85278800,0.008193,0.008160
4,2019-10-04 00:00:00-04:00,269.506467,272.737129,269.450899,272.477936,65091200,0.013532,0.013441
...,...,...,...,...,...,...,...,...
1253,2024-09-23 00:00:00-04:00,569.340027,570.330017,568.099976,569.669983,44116900,0.002499,0.002496
1254,2024-09-24 00:00:00-04:00,570.479980,571.359985,567.599976,571.299988,46805700,0.002861,0.002857
1255,2024-09-25 00:00:00-04:00,571.140015,571.890015,568.909973,570.039978,38428600,-0.002206,-0.002208
1256,2024-09-26 00:00:00-04:00,574.380005,574.710022,569.900024,572.299988,48336000,0.003965,0.003957
1257,2024-09-27 00:00:00-04:00,573.390015,574.219971,570.419983,571.469971,42047600,-0.001450,-0.001451

In [ ]:
file_name = '../data/S&P_market/s&p_prices.csv'
prices.to_csv(file_name)