# Get prices

In [6]:
import pandas as pd
import numpy as np
import yfinance as yf

In [7]:
yf.__version__

'0.2.54'

In [8]:
start = '2019-10-01'
end = '2024-09-27'

ticker = 'TSLA'

ticker = yf.Ticker(ticker)
prices = ticker.history(start=start, end=end)
#prices = prices.drop()

len(prices)

1256

In [9]:
prices['returns'] = prices['Close'].pct_change()
prices['log_returns'] = np.log(prices['Close']/prices['Close'].shift(1))

prices.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,returns,log_returns
Date,,,,,,,,,
2019-10-01 00:00:00-04:00,16.100000,16.396667,15.942000,16.312668,92439000,0.0,0.0,NaN,NaN
2019-10-02 00:00:00-04:00,16.219334,16.309999,15.962000,16.208668,84471000,0.0,0.0,-0.006375,-0.006396
2019-10-03 00:00:00-04:00,15.457333,15.632000,14.952000,15.535333,226267500,0.0,0.0,-0.041542,-0.042429
2019-10-04 00:00:00-04:00,15.440667,15.652000,15.204667,15.428667,119925000,0.0,0.0,-0.006866,-0.006890
2019-10-07 00:00:00-04:00,15.320000,15.904000,15.236667,15.848000,120963000,0.0,0.0,0.027179,0.026816

In [10]:
file_name = '../data/tesla_prices.csv'
prices.to_csv(file_name)