# Get SPY prices

In [2]:
import pandas as pd
import numpy as np
import yfinance as yf

In [3]:
spy_ticker = yf.Ticker('SPY')
SPY_prices = spy_ticker.history(period='5y')
SPY_prices = SPY_prices.drop(columns=['Dividends', 'Stock Splits', 'Capital Gains'])

len(SPY_prices)

1258

In [4]:
SPY_prices['returns'] = SPY_prices['Close'].pct_change()
SPY_prices['log_returns'] = np.log(SPY_prices['Close']/SPY_prices['Close'].shift(1))

SPY_prices.head()

,Open,High,Low,Close,Volume,returns,log_returns
Date,,,,,,,
2019-09-30 00:00:00-04:00,273.977565,275.440149,273.931292,274.718109,51662400,NaN,NaN
2019-10-01 00:00:00-04:00,275.616000,276.282500,271.228221,271.450378,88242400,-0.011895,-0.011966
2019-10-02 00:00:00-04:00,269.839692,269.848958,265.340835,266.655304,122539500,-0.017665,-0.017823
2019-10-03 00:00:00-04:00,266.423921,268.867766,263.656106,268.839996,85278800,0.008193,0.008160
2019-10-04 00:00:00-04:00,269.506467,272.737129,269.450899,272.477936,65091200,0.013532,0.013441

In [5]:
SPY_prices.to_csv('../data/spy_prices.csv')